%header.post-header{style: "background-image: url(#{blog_presenter.featured_image});"}
  %h1
    = blog_presenter.title_link
    %span.subHeading By #{blog_presenter.author_link} on #{blog_presenter.published_at}
  %p.tags= blog_presenter.tag_list
  - unless blog.is_published?
    %h5 Unpublished