%header.layout-header.sub-blog
  .layout-content
    - if @user
      - title "Blog - #{@user.full_name}"
      %h1
        Blogs by
        = @user.full_name
    - elsif @category
      - title "Blog - #{@category.titleize}"
      %h1
        == &ldquo;#{@category.titleize}&rdquo;
        Blogs
    - else
      - title "Blog"
      %h1 Blog

= render partial: "preview", collection: @blogs, as: :blog
.layout-content
  = paginate @blogs