%nav
  = link_to 'Team', admin_users_path
  = link_to 'Work', admin_works_path
  = link_to 'Blogs', admin_blogs_path

%h1 Blog Posts

= render partial: 'admin/blogs/preview', collection: @blogs, as: :blog
= paginate @blogs

%h1 Work

.works.sortable
  = render @work