- present work do |work_presenter|
  .work{id: work.title.parameterize.underscore}
    = work_presenter.admin_links
    %h1= work_presenter.title_link
    = work_presenter.description
    = work.title.parameterize.underscore

    = render work.links
    .showcase{:'data-id' => work.id}
      = render partial: '/images/image', collection: work.images, as: :image
    - if work.templated
      :javascript
        loadWorkTemplate("#{work.title.parameterize.underscore}", "#{work.id}" )
