- present work do |work_presenter|
  .work{id: work.template_file_name.blank? ? work.title.parameterize.underscore : work.template_file_name}
    .work-content
      = work_presenter.admin_links
      %h2= work_presenter.title_link
      = work_presenter.description
      = work.title.parameterize.underscore
      = render work.links
    .work-showcase{:'data-id' => work.id}
      = render partial: '/images/image', collection: work.images, as: :image
    - if work.templated
      :javascript
        loadWorkTemplate("#{work.template_file_name}", "#{work.id}" )
