= nested_form_for @user do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  = f.fields_for :profile do |pf|
    = pf.label :first_name
    = pf.text_field :first_name
    = pf.label :last_name
    = pf.text_field :last_name
    - if @user.profile.avatar
      = image_tag @user.profile.avatar.thumb
    = pf.label :avatar
    = pf.file_field :avatar

    = pf.fields_for :social_links do |sf|
      = sf.select :network, SocialLink.get_network_values
      = sf.text_field :username, placeholder: 'Username'
      or
      = sf.text_field :full_url, placeholder: 'Full URL'
      = sf.link_to_remove "Remove this social link"

    %p= pf.link_to_add "Add a social link", :social_links
  .actions= f.submit