- present user do |up|
  .teamMember
    = picture_tag("#{up.avatar.thumb}", "sub-cover")
    .teamMember-size
      .teamMember-size-info
        .teamMember-size-info-content
          %h2= up.full_name
          .teamMember-size-info-content-button
            = up.blog_link
          .teamMember-size-info-content-links
            .socialLinks.sub-team
              = render user.profile.social_links