- title "Approach"
%header.layout-header.sub-process
  .layout-content
    %h1 Create. Iterate. Learn.
.grid.break.medium
  .layout-box.right.three-fifth
    .layout-box-content
      %h2 We solve problems.
  = picture_tag("process-solve_problems.jpg")
.grid.break.medium
  = picture_tag("process-shared_understanding.jpg")
  .layout-box.two-fifth
    .layout-box-content
      %h2 We value shared understanding.
.grid.break.medium
  .layout-box.right
    .layout-box-content
      %h2 We believe in lean.
  = picture_tag("process-lean.jpg")
.grid.break.medium
  .layout-box.right
    .layout-box-content
      %h2 We believe in fostering a culture that empowers our team.
  = picture_tag("process-foster.jpg")
.grid.break.medium
  = picture_tag("process-test.jpg")
  .layout-box
    .layout-box-content
      %h2 We test everything to validate our assumptions.
.grid.break.medium
  .layout-box
    .layout-box-content
      %h2 We test everything to validate our assumptions.
  = picture_tag("process-test.jpg")
.grid.break.medium
  .layout-box
    .layout-box-content
      %h2 Iterative Product Development
  = picture_tag("process-test.jpg")