- title "Contact"
%header.layout-header.sub-contact
  .layout-content
    <h1>Get in touch with us.</h1>
.layout-grid.sub-four
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        %a.contactBlock-size-wrap-content.sub-red{href: map_url(t("address"))}
          .icon-location
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        %a.contactBlock-size-wrap-content.sub-orange{href: "tel:#{t('phone')}"}
          .icon-mobile
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        %a.contactBlock-size-wrap-content.sub-yellow{href: "mailto:#{t('email')}"}
          .icon-mail
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content.sub-green
          .icon-megaphone
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        %a.contactBlock-size-wrap-content.sub-blue{href: t('social_links.facebook')}
          .icon-facebook
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        %a.contactBlock-size-wrap-content.sub-indigo{href: t('social_links.twitter')}
          .icon-twitter
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        %a.contactBlock-size-wrap-content.sub-violet{href: t('social_links.linked_in')}
          .icon-linked_in
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        %a.contactBlock-size-wrap-content.sub-brown{href: t('social_links.instagram')}
          .icon-instagram
.layout-content.sub-narrow
  %h2.sub-centered
    Have more to say?

  = form_for @message, remote: true, url: contact_path do |f|
    - if @message.errors.any?
      .error_messages
        %h5
          = pluralize(@message.errors.count, "error")
          prohibited this message from being saved:
        %p
          %ul
            - @message.errors.full_messages.each do |msg|
              %li= msg

    = f.text_field :name, placeholder: "My friends call me..."
    = f.text_field :email, placeholder: "I respond to emails at..."
    = f.text_area :content, :rows => 5, placeholder: "I’d like to talk about..."
    = f.submit "And Go!", class: "button sub-outline"