.blog-form
  = form_for [:admin, @user, @blog] do |f|
    - if @blog.errors.any?
      .error_messages
        %h2 Form is invalid
        %ul
          - for message in @blog.errors.full_messages
            %li= message
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :published_at
      = f.date_select :published_at
    .field
      = f.label :content, 'Content (markdown enabled)'
      = f.text_area :content, rows: 20, cols: 60, class: 'blog-content markdown'
    .field
      = f.label :tag_list, 'Tag list (comma separated)'
      = f.text_field :tag_list
    .actions= f.submit
.markdown-preview