Logged in as:
%br
- if current_user.profile
  = current_user.profile.full_name
= "(#{current_user.email})"

%nav
  = link_to 'Logout', logout_path
  = link_to 'Edit My Profile', edit_admin_user_path(current_user)
  = link_to 'Admin', admin_path
  = link_to 'My Blog Posts', admin_user_blogs_path(current_user)