!!!
%html
  %head
    %title
      Cremalab
      = yield :title
    %link{ rel: "icon", type: "image/png", href: image_path("favicon.png") }
    %meta{ charset: "UTF-8" }
    %meta{ content: "user-scalable=no, width=device-width, height=device-height", name: "viewport" }
    %meta{ content: "yes", name: "apple-mobile-web-app-capable"}
    %meta{ content: "We’re a small team of creatives who turn big ideas into beautiful and useable digital experiences.", name: "description"}/
    %meta{ content: "@cremalab", name: "twitter:site"}
    %meta{ content: "Cremalab", property: "og:site_name"}
    = yield(:meta)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    - if current_user
      = stylesheet_link_tag  "admin", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "require"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
%body
  .menu_bar
  .sideBarToggle.sub-main.icon-list
  %aside.layout-sidebar
    .sideBarToggle.sub-sidebar.icon-cross
    = render "layouts/site_navigation"
  %section.layout-main-wrapper
    .layout-main
      = yield :video
      %main.layout-main-content
        = render "layouts/user_menu" if current_user
        = yield
    = yield :content_footer
  = render "layouts/analytics" if Rails.env.production?
