!!!
%html
  %head
    %title Cremalab
    %meta{ charset: "UTF-8" }
    %meta{ content: "initial-scale=1.0, user-scalable=no", name: "viewport"}
    %meta{ content: "yes", name: "apple-mobile-web-app-capable"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
%body
  %button.plain#sideBarToggle
  %aside.layout-sidebar
    = render 'layouts/site_navigation'
  .contentWrapper
    = yield :video
    %main
      = render 'layouts/user_menu' if current_user
      = yield